button.mini-nav__navigation--button {
  background-color: blueviolet;
  border: 1px solid purple;
}

button.mini-nav__navigation--number {
  background-color: chartreuse;
}

/* Fill in the blanks EDITOR */

.cards-wrapper.stepper {
  background-color: chartreuse;
}
.card-container__dots-wrapper .card-container__dot {
  background-color: purple;
}

.mini-nav__navigation-item {
  border: 2px dashed limegreen;
}
.mini-nav__navigation-list {
  background: rgba(211,0,0. 0.65);
}
#container{ 
 display: none;
}
div h1 span {
 color: red; 
}
